######################
# TEMPLATE GITIGNORE #
######################

# ignore all local configuration
conf/local/**
!conf/local/.gitkeep

# ignore everything in the following folders
data/**

# keep the example dataset
!data/01_raw/companies.csv
!data/01_raw/reviews.csv
!data/01_raw/shuttles.xlsx

# ignore kedro-viz metadata
.viz

# ignore file based logs
*.log

##########################
# Common files

### macOS
*.DS_Store
.AppleDouble
.LSOverride
.Trashes

### Vim
*~
.*.swo
.*.swp

### Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.ipynb*

### R
*.RDS
*.RData
*.Rhistory
*.Rproj
*.Rproj.user
*.Rapp.history

### Matlab
*.m~

### LyX
*.lyx~
*.lyx#

### TeX
*.aux
*.fls
*.lof
*.lot
*.nav
*.snm
*.toc
*.out
*.bbl
*.blg
*.handout.pdf
*.handout.lyx
*.synctex.gz

### Slurm
*.sbatch
*.err

